

 <!-- Page Content -->
 <div class="container">

  <div class="row">

    
<style>
  table, th, td {
      border: 2px solid green;
      border-collapse: collapse;
      padding: 5px;
  }

      table tr:nth-child(odd) {
          background-color: #f1f1f1;
      }

      table tr:nth-child(even) {
          background-color: #FFF0F5;
      }

      .dropdown-cell {
     position: relative; /* Required for absolute positioning of the arrow */
     padding-right: 20px; /* Make space for the arrow */
   }

   .dropdown-cell:after {
     content: "";
     position: absolute;
     top: 50%;
     right: 5px;
     margin-top: -3px;
     border-top: 5px solid black;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
   }

   .iconChangeOnMouseHover {
      background-color: blue; /* Original background color */
      /*color: rgb(255, 255, 255); /* Text color */
      padding: 10px 20px; /* Padding */
      border: none; /* No border */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Pointer cursor on hover */
    }

    .iconChangeOnMouseHover:hover {
      background-color: green; /* Background color changes on hover */
    }

</style>
  
  <!-- KPWebApisService Component-->
  <div>
  
      <h3>Angular 6 HttpClient KPWebApisService Service APIs</h3> 
    
      <br>

      <br>
      <h4>Angular 6 HttpClient KPWebApisService .NET Core Service APIs.</h4>
      <h4>Books</h4>
   
      <table width="50%"  >
          <tbody>
 
            <tr class="iconChangeOnMouseHover">

              <!-- <th class="tableHeader" 
              *ngFor="let col of tableHeaders" 
              (click)="sort(col.propertyName)"> -->

              <!-- <th *ngFor="let col of tableHeaders" 
              (click)="sort(col.propertyName)">ISBN</th> -->

              <!-- <th ng-click="sort(col.propertyName)">ISBN</th> -->
              <!-- <th ng-click="sort('isbn')">ISBN</th> -->
              <!-- 
              <th *ngFor="let book of books" 
              (click)="sort(book.isbn)">ISBN</th> -->

              <th  class="dropdown-cell" id="isbn" (click)="sort('isbn')" >ISBN</th>
              <th  class="dropdown-cell" id="isbn" (click)="sort('isbn')" >ISBN</th>
              <th  class="dropdown-cell" id="title" (click)="sort('title')" >Title</th>
              <th  class="dropdown-cell" id="subtitle" (click)="sort('subtitle')" >SubTitle</th>
              <th  class="dropdown-cell" id="author" (click)="sort('author')" >Author</th>
              <th  class="dropdown-cell" id="published" (click)="sort('published')" >Published</th>
              <th  class="dropdown-cell" id="publisher" (click)="sort('publisher')" >Publisher</th>
              <th  class="dropdown-cell" id="pages" (click)="sort('pages')" >Pages</th>
              <!-- <th id="description" (click)="sort('description')" >Description</th> -->
              <!-- <th id="website" (click)="sort('website')" >Website</th> -->

          </tr>
          <!-- <td class="dropdown-cell">

          </td> -->
         <tr  *ngFor="let book of books" 
              (click)="sort(book.isbn)" class="ng-scope"> 

            <td class="dropdown-cell" class="ng-binding"> {{book.isbn}} </td>
            <td class="ng-binding"> {{book.isbn}} </td>
            <td class="ng-binding">{{book.title}}</td>
            <td class="ng-binding"> {{book.subtitle}} </td>
            <td class="ng-binding">  {{book.author}} </td>
            <td class="ng-binding">  {{book.published}} </td>
            <td class="ng-binding">  {{book.publisher}} </td>
            <td class="ng-binding">  {{book.pages}} </td>
            <!-- <td class="ng-binding">  {{book.description}} </td> -->
            <!-- <td class="ng-binding">  {{book.website}} </td> -->
            <var></var>
        </tr><!-- end ngRepeat: x in names | orderBy : myOrderBy -->

      </tbody>
      </table>

      <br>
      
      <!-- <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <input type="file" (change)="onFileSelect($event)" />
        <button type="submit">Upload</button>
        </form> -->

      <!-- <form (ngSubmit)="onSubmit()">
        <input type="file" (change)="onFileSelect($event)" />
        <button type="submit">Upload</button>
        </form> -->

        <!-- <form [formGroup]="profileForm">
          <label for="first-name">First Name: </label>
          <input id="first-name" type="text" formControlName="firstName" />
          <label for="last-name">Last Name: </label>
          <input id="last-name" type="text" formControlName="lastName" />
        </form> -->

        <!-- <label for="name">Name: </label> -->
        <!-- <input id="name" type="text" [formControl]="name"> -->

        <h4>Books : Enter ISBN Value</h4>
        <input [(ngModel)]="inputISBNValue" (input)="onInputChange($event)"  placeholder="Enter ISBN Value"  />
        <div *ngIf="isVisibleBookSeearched">
          This element is visible when isVisibleBookSeearched is true.

        <p>KP :  You entered ISBN : {{ inputISBNValue }}</p>
        <table width="50%">
          <tbody>
 
            <tr>

              <!-- <th class="tableHeader" 
              *ngFor="let col of tableHeaders" 
              (click)="sort(col.propertyName)"> -->

              <!-- <th *ngFor="let col of tableHeaders" 
              (click)="sort(col.propertyName)">ISBN</th> -->

              <!-- <th ng-click="sort(col.propertyName)">ISBN</th> -->
              <!-- <th ng-click="sort('isbn')">ISBN</th> -->
              <!-- 
              <th *ngFor="let book of books" 
              (click)="sort(book.isbn)">ISBN</th> -->

              <th id="isbn" (click)="sort('isbn')" >ISBN</th>
              <th id="isbn" (click)="sort('isbn')" >ISBN</th>
              <th id="title" (click)="sort('title')" >Title</th>
              <th id="subtitle" (click)="sort('subtitle')" >SubTitle</th>
              <th id="author" (click)="sort('author')" >Author</th>
              <th id="published" (click)="sort('published')" >Published</th>
              <th id="publisher" (click)="sort('publisher')" >Publisher</th>
              <th id="pages" (click)="sort('pages')" >Pages</th>
              <!-- <th id="description" (click)="sort('description')" >Description</th> -->
              <!-- <th id="website" (click)="sort('website')" >Website</th> -->

          </tr>

         <tr> 

            <td class="ng-binding"> {{bookSearched.isbn}} </td>
            <td class="ng-binding"> {{bookSearched.isbn}} </td>
            <td class="ng-binding">{{bookSearched.title}}</td>
            <td class="ng-binding"> {{bookSearched.subtitle}} </td>
            <td class="ng-binding">  {{bookSearched.author}} </td>
            <td class="ng-binding">  {{bookSearched.published}} </td>
            <td class="ng-binding">  {{bookSearched.publisher}} </td>
            <td class="ng-binding">  {{bookSearched.pages}} </td>
            <!-- <td class="ng-binding">  {{bookSearched.description}} </td> -->
            <!-- <td class="ng-binding">  {{bookSearched.website}} </td> -->
            <var></var>
        </tr>

      </tbody>
      </table>

        <p> ISBN Book :
          {{bookSearched.isbn}} 
          {{bookSearched.title}} 
          {{bookSearched.subtitle}} 
          {{bookSearched.author}} 
          {{bookSearched.published}} 
          {{bookSearched.publisher}} 
          {{bookSearched.pages}} 
          {{bookSearched.description}}  
          {{bookSearched.website}}
        </p>
      </div>


        <br>
        <br>

      <h5>Catalog : ISBN Books : </h5> 
      <ul>
        <li *ngFor="let book of books">
          {{book.isbn}} 
          {{book.title}} 
          {{book.subtitle}} 
          {{book.author}} 
          {{book.published}} 
          {{book.publisher}} 
          {{book.pages}} 
          {{book.description}}  
          {{book.website}}
        
        </li>
      </ul>
  
  </div>


  <!-- KPWebApisService Component-->
  
  
  </div>
  <!-- /.row -->
  
  </div>
  <!-- /.container -->
  



<p>
  kpwebapis works!
</p>
