

 <!-- Page Content -->
 <div class="container">

  <div class="row">

    
<style>
  table, th, td {
      border: 2px solid green;
      border-collapse: collapse;
      padding: 5px;
  }

      table tr:nth-child(odd) {
          background-color: #f1f1f1;
      }

      table tr:nth-child(even) {
          background-color: #FFF0F5;
      }
</style>
  
  <!-- KPWebApisService Component-->
  <div>
  
      <h3>Angular 6 HttpClient KPWebApisService Service APIs</h3> 
    
      <br>

      <br>
      <h4>Angular 6 HttpClient KPWebApisService .NET Core Service APIs.</h4>
      <h4>Books</h4>
      <table border="1" width="50%">
          <tbody>
 
            <tr>

              <!-- <th class="tableHeader" 
              *ngFor="let col of tableHeaders" 
              (click)="sort(col.propertyName)"> -->

              <!-- <th *ngFor="let col of tableHeaders" 
              (click)="sort(col.propertyName)">ISBN</th> -->

              <!-- <th ng-click="sort(col.propertyName)">ISBN</th> -->
              <!-- <th ng-click="sort('isbn')">ISBN</th> -->
              <!-- 
              <th *ngFor="let book of books" 
              (click)="sort(book.isbn)">ISBN</th> -->

              <th id="isbn" (click)="sort('isbn')" >ISBN</th>
              <th id="isbn" (click)="sort('isbn')" >ISBN</th>
              <th id="title" (click)="sort('title')" >Title</th>
              <th id="subtitle" (click)="sort('subtitle')" >SubTitle</th>
              <th id="author" (click)="sort('author')" >Author</th>
              <th id="published" (click)="sort('published')" >Published</th>
              <th id="publisher" (click)="sort('publisher')" >Publisher</th>
              <th id="pages" (click)="sort('pages')" >Pages</th>
              <!-- <th id="description" (click)="sort('description')" >Description</th> -->
              <!-- <th id="website" (click)="sort('website')" >Website</th> -->

          </tr>

         <tr  *ngFor="let book of books" 
              (click)="sort(book.isbn)" class="ng-scope"> 

            <td class="ng-binding"> {{book.isbn}} </td>
            <td class="ng-binding"> {{book.isbn}} </td>
            <td class="ng-binding">{{book.title}}</td>
            <td class="ng-binding"> {{book.subtitle}} </td>
            <td class="ng-binding">  {{book.author}} </td>
            <td class="ng-binding">  {{book.published}} </td>
            <td class="ng-binding">  {{book.publisher}} </td>
            <td class="ng-binding">  {{book.pages}} </td>
            <!-- <td class="ng-binding">  {{book.description}} </td> -->
            <!-- <td class="ng-binding">  {{book.website}} </td> -->
            <var></var>
        </tr><!-- end ngRepeat: x in names | orderBy : myOrderBy -->

      </tbody>
      </table>
      <br>
      
      <ul>
        <li *ngFor="let book of books">
          {{book.isbn}} 
          {{book.title}} 
          {{book.subtitle}} 
          {{book.author}} 
          {{book.published}} 
          {{book.publisher}} 
          {{book.pages}} 
          {{book.description}}  
          {{book.website}}
        
        </li>
      </ul>
  
  </div>
  <!-- KPWebApisService Component-->
  
  
  </div>
  <!-- /.row -->
  
  </div>
  <!-- /.container -->
  



<p>
  kpwebapis works!
</p>
